.section {
    &__a {
        background-color: $light-color;
        .section-title {
            font-size: 1.5rem;
        }
        .items {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);
            margin: 1rem 1.5rem;
            .item {
                background-color: white;
                position: relative;
                overflow: hidden;
            }
            .item::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: palevioletred;
                opacity: 0.8;
                transform: translateX(-100%) translateY(-100%) rotate(45deg);
                transition: transform 1s;
            }
             :hover::after {
                transform: scale(2) translate(0);
            }
        }
    }
}